services:
    nginx:
        image: nginx:1.21.1
        ports:
            - "8000:80"
        volumes:
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
            - ./src:/var/www/
        depends_on:
            - php

    php:
        build: ./docker/php
        volumes:
            - ./src:/var/www/

    mysql:
        image: mysql:8.0
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: flea_db
            MYSQL_USER: flea_user
            MYSQL_PASSWORD: flea_pass
        volumes:
            - ./docker/mysql/data:/var/lib/mysql
            - ./docker/mysql/my.cnf:/etc/mysql/conf.d/my.cnf

    phpmyadmin:
        image: phpmyadmin/phpmyadmin

        environment:
            - PMA_ARBITRARY=1
            - PMA_HOST=mysql
            - PMA_USER=flea_user
            - PMA_PASSWORD=flea_pass
        depends_on:
            - mysql
        ports:
            - 8080:80


    mailhog:
      image: mailhog/mailhog
      ports:
       - "1025:1025"
       - "8025:8025"