.app {
  height: 100%;
  max-width:1540px;
  margin: 0 auto;
}


header {
  background: #000;
}


.header__inner {
  max-width: 1540px;
  margin: 0 auto;
  padding: 0 24px;
  height: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 60px;
  flex-wrap: nowrap;
}

.header__inner a img {
  max-width: 350px;
  height: auto;
}

.search-form {
  flex: 1;
  display: flex;
  justify-content: center;
}

.search-form__input {
  background: #fff;
  width: 65%;
  padding: 8px 12px;
  border-radius: 4px;
  margin-left: 32px;
  max-width: 400px;
  min-width: 120px;
}

.header__nav {
  text-decoration: none;
  color: #fff;
  white-space: nowrap;
}

.header-sell {
  background: #fff;
  padding: 12px 24px;
  flex-shrink: 0;
  border-radius: 3px;
}

@media (max-width: 850px) {
  .header__inner {
    padding: 0 12px;
    gap: 8px;
    flex-wrap: nowrap;
  }



  .search-form__input {
    width: 100%;
    max-width: 300px;
    min-width: 120px;
  }

  .header__inner a img {
  max-width: 230px;
  height: auto;
}

  .header-sell {
    padding: 6px 12px;
  }

  .header__nav {
    font-size: 14px;
    white-space: nowrap;
    gap: 30px;
  }
}

.sell__link {
  color: #000;
}
