.detail-content__inner {
  max-width: 1540px;
  margin: 0 auto;
  padding: 40px 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

@media (max-width: 850px) {
  .detail-content__inner {
    grid-template-columns: 1fr;
  }
}

.detail-image {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.detail-items {
  display: flex;
  flex-direction: column;
}

.detail-icons {
  display: flex;
  gap: 24px;
  margin: 16px 0;
}

.icon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  border: none;
  background:transparent;
  padding:0;
}

.category-list {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.category-tag {
  background: #eee;
  padding: 4px 12px;
  border-radius: 999px;
  font-size: 12px;
}

.detail-items__name {
  font-size: 28px;
  font-weight: bold;
}

.detail-items__brand {
  font-size: 14px;
}

.detail-items__yen {
  font-size: 18px;
}

.detail-items__price{
  font-size: 26px;
}

.detail-items__tax {
  font-size: 18px;
}

.purchase__link {
  text-decoration: none;
  width: 80%;
  padding: 8px;
  background: #F65861;
  color: #fff;
  text-align: center;
  margin-bottom: 26px;
}

.section-title {
  font-size: 24px;
  margin-bottom: 32px;
}

.description-text {
  margin-bottom: 40px;
}

.product-info__row {
  display: flex;
  margin-bottom: 20px;
  align-items: flex-start;
}

.product-info__label {
  font-weight: bold;
  width: 120px;
  flex-shrink: 0;
}

.info-label {
  background: #e0e0e0;
  color:#000;
  padding: 3px 10px;
  border-radius: 20px;
  font-size: 12px;
}

.condition-text {
  color: #000;
  font-size: 16px;
  line-height: 1.5;
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.comments-count {
  color: #83868C;
  font-size: 24px;
  font-weight: bold;
}

.comment-form {
  margin-top: 15px;
}

.comment-input {
  width: 80%;
  min-height: 120px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #000;
}

.comment-submit {
  text-decoration: none;
  width: 80%;
  padding: 8px;
  background: #F65861;
  color: #fff;
  text-align: center;
  margin-top: 26px;
}

.comment-user {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 15px;
}

.comment-user__image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.comment-user__image--empty {
  background-color: #d9d9d9;
}

.comment-user__name {
  font-weight: bold;
}

.comment-text {
  background: #e0e0e0;
  border-radius: 4px;
  width: 80%;
  font-size: 14px;
  padding: 12px 5px;
  margin-bottom: 26px;
}


.sold-out {
  width: 80%;
  padding: 8px;
  background: #C5C5C7;
  color: #fff;
  text-align: center;
  margin-bottom: 26px;
  font-weight: bold;
  border-radius: 4px;
}
