.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top:60px;
}

.login-form__heading {
  margin-top: 32px;
  margin-bottom: 32px;
}

.login-form__inner {
  width: 100%;
  min-width: 300px;
  max-width: 500px;
}

.login-form__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.login-form__label {
  font-weight: bold;
}

.login-form__input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-form__btn {
  width: 100%;
  padding: 12px;
  background: #F65861;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.login-form__link {
  display: block;
  text-align: center;
  color: #43A4F3;
  margin-top: 24px;
  text-decoration: none;
}