.payment-form {
  max-width: 1540px;
  margin: 40px auto;
}

.payment-content {
  display: flex;
  gap: 40px;
  margin: 90px 30px;
}

.payment-left {
  flex: 2;
}

.payment-right {
  flex: 1;
}

.payment-section {
  border-bottom: 1px solid #ccc;
}

.payment-section--product {
  display: flex;
  gap: 20px;
}

.payment-product__image {
  width: 180px;
  height: 180px;
  object-fit: cover;
  margin-bottom: 50px;
}

.payment-product__name {
  font-size: 24px;
  margin-bottom: 8px;
  margin-left: 20px;
}

.payment-product__prices {
  display: flex;
  align-items: baseline;
  margin-left: 20px;
}

.payment-product__price {
  font-size: 22px;
  margin-left: 3px;
}

.payment-info__amount {
  font-size: 20px;
}

.payment-product__yen, .payment-info__yen {
  font-size: 18px;
}

.payment-title {
  font-size: 16px;
  margin: 20px 0 30px 20px;
}

.payment-select__wrapper {
  position: relative;
  width: 40%;
  margin-left: 70px;
  margin-bottom: 40px;
}

.payment-payment__select {
  width: 60%;
  margin-bottom: 40px;
  border-radius: 3px;
  font-size: 12px;
  border: 1px solid #83868C;
  padding: 7px 5px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-weight: bold;
  color: #666771;
}

.select-arrow {
  font-size: 12px;
  color: #666;
  position: absolute;
  right: 42%;
  top: 20%;
  transform: translateY(-50%);
  pointer-events: none;
}

@media (max-width:850px) {

  .payment-select__wrapper {
  position: relative;
  width: 40%;
  margin-left: 70px;
  margin-bottom: 40px;
}


  .payment-payment__select {
  width: 110%;
  margin-bottom: 40px;
  border-radius: 3px;
  font-size: 12px;
  border: 1px solid #83868C;
  padding: 4px 5px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
  .select-arrow {
    font-size: 10px;
    color: #666;
    position: absolute;
    left: 100%;
    top: 22%;
    transform: translateY(-50%);
    pointer-events: none;
  }
}


.payment-address__header {
  display: flex;
  justify-content: space-between;
}
.payment-address__link {
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
  margin-top: 20px;
}

.payment-info {
  padding: 0 24px;
  background:#fff;
}

.payment-info__inner {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 32px;
  border:  1px solid #000;
}

.payment-info__row th,
.payment-info__row td {
  padding: 40px 40px;
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
  border-bottom: 1px solid #000;
}

@media (max-width:850px) {
  .payment-info__row th,
.payment-info__row td {
  font-size: 14px;
  font-weight: lighter;
  text-align: center;
  border-bottom: 1px solid #000;
  height: 100px;
  padding: 1px;
}

.payment-info__yen,
.payment-info__amount {
  font-size: 16px;
}
}


.payment-info__header {
  color: #555;
}

.payment-btn {
  width: 100%;
  padding: 10px 0px;
  background: #F65861;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-top: 30px;
}

.payment-btn:hover {
  opacity: 0.9;
}

.payment-addresses {
  margin-left: 40px;
  margin-bottom: 5px;
  font-size: 18px;
  display: flex;
  flex-direction: flex-start;
}

.payment-address__row {
  align-items: center;
  gap: 6px;
}

.payment-address__post, .payment-address__postal-code {
  font-weight: bold;
}

.payment-address__address {
  margin-top: 6px;
  margin-left: 40px;
  margin-bottom: 40px;
  font-weight: bold;
}
