.purchase-form {
  max-width: 1540px;
  margin: 40px auto;
}

.purchase-content {
  display: flex;
  gap: 40px;
  margin: 90px 30px;
}

.purchase-left {
  flex: 2;
}

.purchase-right {
  flex: 1;
  height: 100%;
}

.purchase-section {
  border-bottom: 1px solid #ccc;
}

.purchase-section--product {
  display: flex;
  gap: 20px;
}

.purchase-product__image {
  width: 180px;
  height: 180px;
  object-fit: cover;
  margin-bottom: 50px;
}

.purchase-product__name {
  font-size: 24px;
  margin-bottom: 8px;
  margin-left: 20px;
}

.purchase-product__prices {
  display: flex;
  align-items: baseline;
  margin-left: 20px;
}

.purchase-product__price {
  font-size: 22px;
  margin-left: 3px;
}

.payment-info__amount {
  font-size: 20px;
}

.purchase-product__yen, .payment-info__yen {
  font-size: 18px;
}

.purchase-title {
  font-size: 16px;
  margin: 20px 0 30px 20px;
}

.purchase-payment__select-wrapper {
  position: relative;
  width: 40%;
  margin-left: 70px;
  margin-bottom: 80px;
}

.fake-select {
  display: block;
  width: 60%;
  margin-bottom: 40px;
  border-radius: 3px;
  text-decoration:none;
  font-size: 12px;
  border: 1px solid #83868C;
  padding: 4px 5px;
  color: #666771;
  font-weight: bold;
}

.fake-select__arrow {
  position: absolute;
  right: 42%;
  top: 48%;
  transform: translateY(-50%);
  font-size: 12px;
  color: #666;
  pointer-events: none;
}

@media (max-width:850px) {

  .fake-select {
  display: block;
  width: 110%;
  margin-bottom: 40px;
  border-radius: 3px;
  text-decoration:none;
  font-size: 12px;
  border: 1px solid #83868C;
  padding: 2px 20px 2px 3px;
  color: #666771;
}

.fake-select__arrow {
  position: absolute;
  right: -5%;
  top: 55%;
  transform: translateY(-50%);
  font-size: 12px;
  color: #666;
  pointer-events: none;
}
}

.purchase-address__header {
  display: flex;
  justify-content: space-between;
}
.purchase-address__link {
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
  margin-top: 20px;
}



.purchase-payment__info {
  padding: 0 24px;
  background:#fff;
}

.payment-info__inner {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 32px;
  border:  1px solid #000;
}

.payment-info__row th,
.payment-info__row td {
  padding: 40px 40px;
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
  border-bottom: 1px solid #000;
}

@media (max-width:850px) {
  .payment-info__row th,
.payment-info__row td {
  font-size: 14px;
  font-weight: lighter;
  text-align: center;
  border-bottom: 1px solid #000;
  height: 100px;
  padding: 1px;
}

.payment-info__yen,
.payment-info__amount {
  font-size: 16px;
}
}

.payment-info__header {
  color: #555;
}

.purchase-btn {
  width: 100%;
  padding: 10px 0px;
  background: #F65861;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-top: 30px;
}

.purchase-btn:hover {
  opacity: 0.9;
}

.purchase-addresses {
  margin-left: 40px;
  margin-bottom: 5px;
  font-size: 18px;
  display: flex;
  flex-direction: flex-start;
}

.purchase-address__row {
  align-items: center;
  gap: 6px;
}

.purchase-address__post, .purchase-address__postal-code {
  font-weight: bold;
}

.purchase-address__address {
  margin-top: 6px;
  margin-left: 40px;
  margin-bottom: 40px;
  font-weight: bold;
}


