.sell-form {
  text-align: center;
  max-width: 1540px;
  margin: 0 auto;
}

.sell-form__inner {
  width: 100%;
}

.sell-form__form {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.sell-section {
  margin-bottom: 32px;
}

.sell-form__title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 16px;
  margin-top: 40px;
}

.sell-section__title {
  text-align: left;
  font-size: 18px;
  margin-bottom: 2px;
}

.sell-section__header {
  border-bottom: 1px solid #000;
  padding-bottom: 8px;
  font-size: 22px;
  color: #666771;
  text-align: left;
  margin-bottom: 0;
}

.sell-image__box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  border: 1px dashed #000;
  cursor: pointer;
}

.sell-image__btn {
  color: #F65861;
  border: 1.5px solid #F65861;
  border-radius: 4px;
  padding: 5px 15px;
  font-size: 14px;
  font-weight: bold;
}

.sell-field__label {
  font-weight: bold;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 18px;
}

.sell-category {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 40px;
}

.sell-category__item {
  cursor: pointer;
  font-size: 10px;
  display: inline-block;
  margin: 4px;
}

.sell-category__item input {
  display: none;
}

.sell-category__item span {
  display: inline-block;
  padding: 6px 12px;
  border: 1px solid #F65861;
  color: #F65861;
  border-radius: 999px;
  cursor: pointer;
}

.sell-category__item input:checked + span {
  background: #F65861;
  color: #fff;
  border-radius: 999px;
  padding: 6px 14px;
}

.sell-category__item.is-active {
  background: #F65861;
  color: #fff;
}

.sell-price {
  display: flex;
  align-items: center;
  border: 1px solid #000;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.sell-price__yen {
  position: absolute;
  transform: translateY(-50%);
  margin-left: 8px;
  margin-top: 13px;
  font-weight: bold;
  font-size: 14px;
}

.sell-field {
  display: flex;
  flex-direction: column;
  position: relative;
}


.sell-field__wrapper {
  position: relative;
  width: 100%;
}


.sell-field__select {
  width: 100%;
  border: 1px solid #000;
  font-size: 12px;
  padding: 10px 10px;
  border-radius: 3px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select-arrow {
  position: absolute;
  right: 7px;
  top: 85%;
  transform: translateY(-50%);
  font-size: 10px;
  color: #83868C;
  pointer-events: none;
}


.sell-field__input {
  border: 1px solid #000;
  border-radius: 3px;
  margin-bottom: 20px;
  width: 100%;
  padding: 2px 3px;
}

.sell-field__input--price {
  border: 1px solid #000;
  border-radius: 3px;
  margin-bottom: 20px;
  width: 100%;
  padding-left: 25px;
}

.sell-form__submit {
  background: #F65861;
  color: #fff;
  width: 100%;
  margin-top: 70px;
  margin-bottom: 80px;
  font-weight: bold;
  height: 40px;
  border-radius: 3px;
  cursor: pointer;
}
